<!DOCTYPE html>
<html>
<head>
  <title>Styleguide page template</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../../../style.css" />
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js'></script>
</head>
<body>
  <div id="area">
    <div class='file-header'>
              <a href="https://github.com/nadarei/nkss-rails/blob/master/app/views/layouts/styleguide_page.html.haml">
          <strong title='app/views/layouts/styleguide_page.html.haml'>styleguide_page.html.haml</strong>
          <small>View source</small>
        </a>
          </div>

    <table cellpadding="0" cellspacing="0" class="extension-haml">
      <thead>
        <tr>
          <th class="docs">
          </th>
          <th class="code">
          </th>
        </tr>
      </thead>
      <tbody>
                                      
          <tr id="Templates-Styleguide-page-template" class="heading">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#Templates-Styleguide-page-template">&#182;</a>
              </div>
              <h1>Templates: Styleguide page template</h1>            </td>
            <td class="code">
                          </td>
          </tr>
                                      
          <tr id="section-1" class="">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#section-1">&#182;</a>
              </div>
              <p>This formats your styleguides.</p>

<p>It puts things into <code>:body</code> and <code>:head</code>, and calls the <code>layouts/styleguide</code>
layout, which you should have in your app.</p>

<p>Don't like me? Just copy me into your
<code>app/views/layouts/styleguide_page.html.haml</code> and customize me.</p>            </td>
            <td class="code">
              <div class="highlight"><pre><span class="p">-</span> <span class="n">content_for</span> <span class="ss">:body</span> <span class="k">do</span>
  <span class="nt">%aside</span><span class="nc">.sg-toc</span>
    <span class="nt">%h1</span>
      <span class="nt">%strong</span><span class="p">=</span> <span class="n">styleguide_title</span>
      <span class="nt">%small</span> Style guide

    <span class="nt">%ul</span>
      <span class="p">-</span> <span class="n">styleguide_sections</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="nb">id</span><span class="p">,</span> <span class="nb">name</span><span class="o">|</span>
        <span class="nt">%li</span>
          <span class="nt">%a</span><span class="p">{</span><span class="n">class</span><span class="p">:</span> <span class="p">(</span><span class="nb">id</span> <span class="o">==</span> <span class="vi">@section</span> <span class="p">?</span> <span class="s1">&#39;active&#39;</span> <span class="p">:</span> <span class="s1">&#39;&#39;</span><span class="p">),</span> <span class="n">href</span><span class="p">:</span> <span class="nb">id</span><span class="p">}</span>
            <span class="nt">%span</span><span class="nc">.sg-number</span><span class="p">=</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="nb">id</span><span class="si">}</span><span class="s2">&quot;</span>
            <span class="nt">%span</span><span class="nc">.sg-name</span><span class="p">=</span> <span class="nb">name</span>

  <span class="nt">%section</span><span class="nc">.sg-body</span>
    <span class="p">=</span> <span class="k">yield</span>

  <span class="nt">%script</span><span class="p">{</span><span class="n">src</span><span class="p">:</span> <span class="s2">&quot;http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js&quot;</span><span class="p">}</span>
  <span class="nt">%script</span><span class="p">{</span><span class="n">src</span><span class="p">:</span> <span class="s2">&quot;http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js&quot;</span><span class="p">}</span>
  <span class="nt">%link</span><span class="p">{</span><span class="n">href</span><span class="p">:</span> <span class="s2">&quot;http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css&quot;</span><span class="p">,</span> <span class="nb">type</span><span class="p">:</span> <span class="s2">&quot;text/css&quot;</span><span class="p">,</span> <span class="n">rel</span><span class="p">:</span> <span class="s2">&quot;stylesheet&quot;</span><span class="p">}</span>
  <span class="nd">:javascript</span>
    <span class="nd">$(function() { prettyPrint(); });</span>
    <span class="nd">$(&#39;.sg-expand&#39;).on(&#39;click&#39;, function expand() {</span>
      <span class="nd">$(this).closest(&#39;.sg-html&#39;).toggleClass(&#39;expanded&#39;);</span>
    <span class="nd">});</span>

<span class="p">-</span> <span class="n">content_for</span> <span class="ss">:head</span> <span class="k">do</span>
  <span class="p">=</span> <span class="n">stylesheet_link_tag</span> <span class="s1">&#39;styleguide&#39;</span>
  <span class="p">=</span> <span class="n">stylesheet_link_tag</span> <span class="s1">&#39;styleguide-extras&#39;</span>

<span class="p">=</span> <span class="n">render</span> <span class="n">file</span><span class="p">:</span> <span class="s1">&#39;layouts/styleguide&#39;</span>

</pre></div>            </td>
          </tr>
              </tbody>
    </table>

    
  </div>

  <div id="sidebar">
    <div class='header search'>
      <input type='text' name='search' id='search-box' placeholder='Search...' />
    </div>

    <div class='header tabs'>
      <button class='active' data-tab='pages'>Pages</button>
      <button data-tab='files'>Files</button>
    </div>

    <div class='scroll-area'>
      <!-- .multipage here means there will be a sidebar of many pages. -->
      <div class='list pages multipage'>
                  
          <!-- Breadcrumbs -->
                                  <ul class='breadcrumbs'>
                              
                <li class='page back'>
                                  <a href='../../../index.html'>Nadarei KSS</a>
                                              
                <li class='page back'>
                                  <span class='a'>Templates</span>
                                          </ul>
          
          <!-- The page and its headings -->
          <ul class='current-page'>
                        
            <li class='page level-0'>
              <a href='#'>Styleguide page template</a>
                          </li>
          </ul>

          <ul class='reference'>

            <!-- The reference page -->
                          <li class='page has-children level-0'>
                                  <span class='a'>Templates</span>
                              </li>
            
            <!-- Subpages of the ref -->
                                                                                                                      
                <li class='page  level-1'>

                                                        <a href='../../../app/views/layouts/styleguide_page.html.html' class='active'>Styleguide page template</a>
                  
                                                    </li>
                                                                                              
                <li class='page  level-1'>

                                                        <a href='../../../app/views/styleguides/_block.html.html' class=''>Block partial</a>
                  
                                                    </li>
                                                                                              
                <li class='page  level-1'>

                                                        <a href='../../../app/assets/stylesheets/styleguide.html' class=''>Styleguide CSS</a>
                  
                                                    </li>
                          
          </ul>
              </div>

      <div class='list files hidden'>
        
        <ul>
                  <li class='level-1'>
                                                    <button class='item folder expanded'>
                <i></i>
                app              </button>
              <ul class=''>
                          <li class='level-2'>
                                                    <button class='item folder '>
                <i></i>
                assets              </button>
              <ul class='hidden'>
                          <li class='level-3'>
                                                    <button class='item folder '>
                <i></i>
                stylesheets              </button>
              <ul class='hidden'>
                          <li class='level-4'>
                                                    <a href='../../../app/assets/stylesheets/styleguide.html#f' class='item file '>
                <i></i>
                styleguide.sass              </a>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                                    <li class='level-2'>
                                                    <button class='item folder '>
                <i></i>
                helpers              </button>
              <ul class='hidden'>
                          <li class='level-3'>
                                                    <a href='../../../app/helpers/styleguide_helper.html#f' class='item file '>
                <i></i>
                styleguide_helper.rb              </a>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                                    <li class='level-2'>
                                                    <button class='item folder expanded'>
                <i></i>
                views              </button>
              <ul class=''>
                          <li class='level-3'>
                                                    <button class='item folder expanded'>
                <i></i>
                layouts              </button>
              <ul class=''>
                          <li class='level-4'>
                                                    <a href='../../../app/views/layouts/styleguide_page.html.html#f' class='item file active'>
                <i></i>
                styleguide_page.html.haml              </a>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                                    <li class='level-3'>
                                                    <button class='item folder '>
                <i></i>
                styleguides              </button>
              <ul class='hidden'>
                          <li class='level-4'>
                                                    <a href='../../../app/views/styleguides/_block.html.html#f' class='item file '>
                <i></i>
                _block.html.haml              </a>
                      </li>
                                                    <li class='level-4'>
                                                    <a href='../../../app/views/styleguides/_specimen.html.html#f' class='item file '>
                <i></i>
                _specimen.html.haml              </a>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                                        </ul>
            </li>
                      </li>
                                    <li class='level-1'>
                                                    <a href='../../../index.html#f' class='item file '>
                <i></i>
                README.md              </a>
                      </li>
                                  </ul>

      </div>
    </div>

  </div>

  <script src='../../../script.js'></script>
</body>
</html>
